# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\C++\CLionApp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
